<h1>Admin Dashboard</h1>
</br>
<button id="admin-account">Account Information</button>
</br>
<div id="admin-account-target">
<hr>
  <div>
    Your username: <%= current_user.username %></br>
    Your email: <%= current_user.email %>
  </div>

  <div>
    <%= link_to "Edit my information", edit_admin_dashboard_path(current_user.id) %>
    </br>
    <%= link_to "Create Another Admin", new_admin_dashboard_path %>
    </br>
    <%= link_to "Delete My Account", user_path(current_user.id), method: :delete, data: {confirm: 'Are you sure?'} %>
  </div>
</div>
</br>
</br>
<%= button_to "Manage Creatures", admin_creatures_path, method: :get, class: "btn-admin" %>
</br>
<%= render partial: 'orders' %>
