<audio controls autoplay class="audio">
  <source src="/assets/angel.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

<em><h1 class="page-title">Alicorn Adoption</h1></em>
<em><h2 class="page-subtitle">All Creatures</h2></em>
<% if current_admin? %>
  <h4><%= link_to "Manage Creatures", admin_creatures_path %></h4>
<% end %>
</br>

<div class="search-bar">
  <label>Search By Name</label>
  <%= text_field :creature, :filter_name %>
</div>
</br>

<% @creatures.each do |creature| %>
  <div class="container col-md-4 home-creature-wrapper" data-name="<%= creature.name %>">
    <%= render partial: "shared/creatures_img", locals: { creature: creature } %>
    <%= render partial: "shared/creatures_details", locals: { creature: creature } %>
    </div>
  </div>
<% end %>

