<audio controls autoplay>
  <source src="/assets/angel.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>

<em><h1 class="page-title">Alicorn Adoption</h1></em>
<em><h2 class="page-subtitle">All Creatures</h2></em>
<div class="filter">
  <label>Filter By Name</label>
  <%= text_field :creature, :filter_name %>
</div></br>

<h4 class="page-edit"><% if current_admin? %>
  <%= link_to "Edit Creatures", admin_creatures_path %>
<% end %></h4>

<%= render "shared/creatures" %>

<div class="container col-md-4 home-creature-wrapper" data-name="<%= creature.name %>">
  <div class="col-md-4 home-creature-img media">
    <em><%= link_to creature.name, creature_path(creature), class: "home-creature-name" %></em></p>    
    <% if creature.retired %>
      <p>This creature can no longer be sponsored!</p>
    <% else %>
      <%= button_to "Sponsor me", carts_path({creature_id: creature.id}), class: "btn btn-creature" %>
    <% end %>
  </div>
</div>

