<%= form_tag orders_path do %>
<!-- <%#= form_tag("/orders", method: "get") do %> -->
<article>
  <% if flash[:error].present? %>
    <div id="error_explanation">
      <p><%= flash[:error] %></p>
    </div>
  <% end %>
</article>

<script src="https://checkout.stripe.com/checkout.js",
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-description="cccc"
        data-amount=<%= number_to_currency(@order.total_price) %>
        data-locale="auto">
</script>

<button id="customButton" class="btn-checkout">Pay with Stripe</button>

<script>
  var handler = StripeCheckout.configure({
    key: "<%= Rails.configuration.stripe[:publishable_key] %>",
    image: 'http://67.media.tumblr.com/30b1b0d0a42bca3759610242a1ff0348/tumblr_nnjxy1GQAA1tpo3v2o1_540.jpg',
    locale: 'auto',
    token: function(token) {
    }
  });
  $('#customButton').on('click', function(e) {
    handler.open({
      name: 'Alicorn Adoption',
      description: 'Sponsorships',
      amount: "<%= @order.total_price * 100 %>"
    });
    e.preventDefault();
  });
  
  $('#customButton').on('click', function() {
    "<%= @order.update_status('paid') %>"
    // var $cartStuff = $('#cartCounter').children()[1].text.split(" ")[1]
    // 
    // console.log("CART STUFF")
    // if ($('#cartCounter').children()[1].text.split(" ")[1] === 0) {
    //   console.log("OK")
    // }
    $('#customButton').hide();
  });
  
  $(window).on('popstate', function() {
    handler.close();
  });
  
  // $('#submitButton').on('click', function(e) {
  // 
  // });
  
</script>

<% end %>