<h2>Order <%= order.id %> Summary</h2>  
<table class="table">
  <tr>
    <th>Creature</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
  <% order.order_details.each do |key, value| %>
    <tr>
      <th><%= link_to key, creature_path(find_creature(key)) %></th>
      <th><%= value.last %></th>
      <th><%= number_to_currency(value.first) %></th>
    </tr>
  <% end %>
  <tr>
    <th><strong>Total</strong></th>
    <th></th>
    <th><strong><%= number_to_currency(order.total_price) %></strong></th>
  </tr>
</table>
<% if order.status == "ordered" %>
  <%= render partial: "charges" %>
<% end %>
