<%= render partial: "order_table", locals: { order: @order } %>

<p>Order created on: <%= @order.created_at.strftime("%A, %d %b %Y %l:%M %p") %>

<% if @order.completed? %>
  <p>Order completed on: <%= @order.updated_at.strftime("%A, %d %b %Y %l:%M %p") %></p>
<% elsif @order.canceled? %>
  <p>Order canceled on: <%= @order.updated_at.strftime("%A, %d %b %Y %l:%M %p") %></p>
<% else %>
  <p>Current status: <%= @order.status.capitalize %></p>
<% end %>