<h1>Cart Summary</h1>

<% @creatures.each do |creature| %>
  <p><%= creature.name %></p>
  <p><%= creature.price %></p>
  <p><%= creature.description %></p>
  <%= image_tag("#{creature.name}.png", width: 100) %>
<% end %>

<p>
  Total: <%= number_to_currency(Order.total_price(session[:cart])) %>
</p>

