<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,400italic' rel='stylesheet' type='text/css'>
  
  <title>AlicornAdoption</title>

</head>
<body>
  
<nav class="top-nav navbar navbar-default navbar-fixed-top">
  <div class="container col-sm-offset-10 col-sm-2">
      <ul class="top-nav-list">
        <li><%= link_to "Cart: #{@cart.total}", cart_path %>|</li>
        <li>Login</li>
      </ul>
  </div>
</nav> 

<div class="row">
  <div class="col-md-3">
    <ul class="sidebar-nav nav nav-tabs nav-stacked">
      <li role="presentation"><%= link_to "All Creature Types", "/" %></li>
        <% creature_types.each do |type| %>
          <li role="presentation"><%= link_to type.name, "/#{type.name}" %></li>
        <% end %>
    </ul>
  </div>

  <div class="main col-md-9">
    <%= flash[:notice] %>
    <%= link_to flash[:delete], creature_path(session[:removed_creature].to_i) %>
    <%= yield %>
  </div>

</div>

</body>
</html>